# deps
node_modules/
.pnp
.pnp.js

# build outputs
dist/
dist-ssr/
build/

# rust
src-tauri/target/
src-tauri/Cargo.lock

# local data (dev)
*.db
*.db-journal
*.sqlite
*.sqlite-journal
.gamevault/

# env
.env
.env.local
.env.*.local

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.swp
*.log
